body {
	background: #F5F5F5 !important;
	.nav-fluid {
		background: #F5F5F5;
		.logo-div {
			text-align: center;
			margin: 20px 0 10px 0;
			img {
				height: 90px;
			}
		}
		.cart {
			position: absolute;
			top: 10px;
			right: 117px;
			font-family: 'Sorts Mill Goudy', serif;
			font-weight: 100;
			@media only screen and (max-width: 1199px) {
				right: 18px
			}
			@media only screen and (max-width: 767px) {
				top: 120px;
				z-index: 99;
			}
			a {
				color: #808080;
				font-size: 18px;
				-webkit-transition: color 300ms linear;
				-moz-transition: color 300ms linear;
				-o-transition: color 300ms linear;
				-ms-transition: color 300ms linear;
				transition: color 300ms linear;
				-webkit-font-smoothing: antialiased;
				&:hover {
					color: #bcbec0;
					text-decoration: none;
				}
				i {
					color: #eacda3;
					color: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);
					color: linear-gradient(to right, #d6ae7b, #eacda3);
				}
			}
		}
	}
	.navbar {
		background: #F5F5F5;
		padding-bottom: 12px;
		@media only screen and (max-width: 767px) {
			display: block;
		}
		button {
			background-color: #BEBDBD;
		}
		.navbar-collapse {
			.navbar-nav {
				margin: 0 auto;
				li {
					a {
						padding: 12px 18px;
						font-size: 14px;
						color: #808080;
						font-family: 'Sorts Mill Goudy', serif;
						text-decoration: none;
						-webkit-font-smoothing: antialiased;
						text-transform: uppercase;
						letter-spacing: 1.5px;
						word-spacing: 3px;
						-webkit-transition: color 300ms linear;
						-moz-transition: color 300ms linear;
						-o-transition: color 300ms linear;
						-ms-transition: color 300ms linear;
						transition: color 300ms linear;
						&:hover {
							color: #bcbec0;
							text-decoration: none;
						}
						@media only screen and (max-width: 767px) {
							display: block;
							text-align: center;
							padding-top: 27px;
						}
					}
					.dropdown-menu {
						margin-top: 11px;
						margin-left: -42px;
						@media only screen and (max-width: 767px) {
							margin: 11px auto 0 auto;
						}
						li {
							text-align: center;
						}
					}
				}
			}
		}
	}
	.mobile-intro {
		background-image: url('img/vestuviu-stalas.jpg');
		min-height: 540px;
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		margin: 7px auto 0 auto;
		width: 100%;
		@media only screen and (min-width: 767px) {
			display: none;
		}
	}
	.carousel {
		@media only screen and (max-width: 767px) {
			display: none;
		}
		.carousel-inner {
			.carousel-item {
				img {
					height: auto;
					width: 100%;
					margin: 0 auto;
					max-width: 1200px;
					max-height: 600px;
				}
			}
		}
	}
	.ivaizdis-fluid {
		background-image: #F5F5F5;
		padding: 100px 0;
		@media only screen and (max-width: 991px) {
			padding: 50px 0;
		}
		@media only screen and (max-width: 575px) {
			padding: 0;
		}
		.ivaizdis-container {
			.palme-box {
				height: 600px;
				background: #eacda3;
				background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);
				background: linear-gradient(to right, #d6ae7b, #eacda3);
				@media only screen and (max-width: 991px) {
					margin-bottom: 50px;
				}
				@media only screen and (max-width: 575px) {
					margin-bottom: 0;
				}
				h2 {
					color: #fefefe;
					font-size: 36px;
					font-family: 'Open Sans', sans-serif;
					font-family: 'Sorts Mill Goudy', serif;
					font-weight: 100;
					text-align: center;
					padding-top: 80px;
				}
				.palm-leaf-block {
					text-align: center;
					margin-top: 70px;
					img {
						width: 180px;
					}
				}
				.more-block {
					text-align: center;
					margin-top: 70px;
					.palm-more {
						color: #F5F5F5;
						font-family: "Open Sans", sans-serif;
						font-weight: 100;
						font-size: 21px;
						padding: 12px 80px;
						border: 1px solid #F5F5F5;
						text-align: center;
						margin: 0 auto;
						-webkit-transition: background 300ms linear, color 300ms linear;
						-moz-transition: background 300ms linear, color 300ms linear;
						-o-transition: background 300ms linear, color 300ms linear;
						-ms-transition: background 300ms linear, color 300ms linear;
						transition: background 300ms linear, color 300ms linear;
						&:hover {
							text-decoration: none;
							background: #F5F5F5;
							color: #d6ae7b;
						}
					}
				}
			}
			.ivaizdis-sideblock {
				height: 600px;
				background-image: url('img/vestuvinis-stalas.jpg');
				background-repeat: no-repeat;
			    background-size: cover;
			    padding-bottom: 55%;
			    background-position: center;
				img {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
	.to-top {
		a {
			color: #808080;
			padding: 4px 10px;
			border-radius: 50%;
			background: #eacda3;
			color: #fff;
			border: 1px solid #eacda3;
			font-family: "Open Sans", sans-serif;
			position: fixed;
			bottom: 14px;
			right: 14px;
			z-index: 999;
			display: none;
			font-weight: 100;
			letter-spacing: 1px;
			-webkit-transition: background 300ms linear, color 300ms linear;
			-moz-transition: background 300ms linear, color 300ms linear;
			-o-transition: background 300ms linear, color 300ms linear;
			-ms-transition: background 300ms linear, color 300ms linear;
			transition: background 300ms linear, color 300ms linear;
			&:hover {
				text-decoration: none;
				background: #fff;
				color: #eacda3;
			}
		}
	}
	.parallax-block {
		background-image: url("img/poros-bucinys.jpg");
		min-height: 777px;
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		margin-bottom: 90px;
		@media only screen and (max-width: 575px) {
			margin-bottom: 0;
		}
		.poros-block {
			height: 600px;
			margin-top: 90px;
			background: #eacda3;
			background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);
			background: linear-gradient(to right, #d6ae7b, #eacda3);
			opacity: 0.9;
			@media only screen and (max-width: 575px) {
				margin-top: 180px;
			}
			h2,
			h3 {
				color: #F5F5F5;
				font-size: 36px;
				font-family: 'Open Sans', sans-serif;
				font-family: 'Sorts Mill Goudy', serif;
				font-weight: 100;
				text-align: center;
				padding-top: 80px;
			}
			h3 {
				padding-top: 0;
				font-family: 'Open Sans', sans-serif;
				font-size: 27px;
			}
			.rings-block {
				text-align: center;
				margin-top: 50px;
				img {
					width: 180px;
				}
			}
			.more-block {
				text-align: center;
				margin-top: 60px;
				.poros-more {
					color: #F5F5F5;
					font-family: "Open Sans", sans-serif;
					font-weight: 100;
					font-size: 21px;
					padding: 12px 80px;
					border: 1px solid #F5F5F5;
					text-align: center;
					margin: 0 auto;
					-webkit-transition: background 300ms linear, color 300ms linear;
					-moz-transition: background 300ms linear, color 300ms linear;
					-o-transition: background 300ms linear, color 300ms linear;
					-ms-transition: background 300ms linear, color 300ms linear;
					transition: background 300ms linear, color 300ms linear;
					&:hover {
						text-decoration: none;
						background: #FDFDFD;
						color: #d6ae7b;
					}
				}
			}
		}
	}
	.footer-fluid {
		padding-bottom: 0;
		@media only screen and (max-width: 767px) {
			padding-bottom: 50px;
		}
		@media only screen and (max-width: 575px) {
			margin-top: 30px;
			padding-bottom: 0;
		}
		.footer-container {
			.row {
				@media only screen and (max-width: 1199px) {
					width: 100%;
					text-align: center;
					margin: 0 auto;
				}
				.footer-left {
					background-color: #F5F5F5;
					padding-top: 10px;
					border-right: 1px solid #808080;
					@media only screen and (max-width: 1199px) {
						border: none;
						margin-bottom: 30px;
					}
					@media only screen and (max-width: 767px) {
						margin-bottom: 0;
					}
					.line {
						margin: 0 15px;
						border-top: 1px solid #808080;
						width: 210px;
						position: relative;
						top: 15px;
						height: 0px;
						@media only screen and (max-width: 1199px) {
							text-align: center;
							margin: 0 auto;
						}
						@media only screen and (max-width: 767px) {
							display: none;
						}
					}
					h4 {
						letter-spacing: 2px;
						color: #808080;
						font-family: 'Sorts Mill Goudy', serif;
						font-weight: 100;
						padding-bottom: 10px;
						@media only screen and (max-width: 1199px) {
							text-align: center;
							margin: 0 auto;
						}
					}
					.social-icons {
						margin-left: 9px;
						@media only screen and (max-width: 1199px) {
							width: 100%;
							margin: 20px 0 45px 0;
							text-align: center;
						}
						@media only screen and (max-width: 767px) {
							margin-bottom: 10px;
						}
						a {
							img {
								width: 30px;
							}
							&:hover {
								text-decoration: none;
							}
						}
					}
					.footer-photos {
						margin: 0 auto;
						@media only screen and (max-width: 767px) {
							display: none;
						}
						.photo {
							margin: 5px auto;
							img {
								width: 120px;
							}
						}
					}
					.copyright {
						margin-top: 18px;
						@media only screen and (max-width: 1199px) {
							display: none;
						}
						.developer {
							margin: 5px;
							color: #033F96;
						}
						p {
							font-family: "Open Sans", sans-serif;
							font-weight: 100;
							color: #808080;
							span {
								margin-left: 54px;
								font-family: "Open Sans", sans-serif;
								font-weight: 100;
								@media only screen and (max-width: 767px) {
									display: block;
									margin-left: 0;
								}
							}
						}
					}
				}
				.footer-right {
					background-color: #F5F5F5;
					h4 {
						text-align: center;
						color: #808080;
						position: relative;
						top: 15px;
						font-family: 'Sorts Mill Goudy', serif;
						font-weight: 100;
						letter-spacing: 2px;
					}
					.contacts {
						margin-top: 30px;
						margin-left: 67px;
						@media only screen and (max-width: 991px) {
							margin-left: 0;
						}
						.contact {
							text-align: left;
							margin-top: 15px;
							font-family: "Open Sans", sans-serif;
							font-weight: 100;
							@media only screen and (max-width: 991px) {
								text-align: center;
							}
							span {
								color: #808080;
								margin-right: 10px;
							}
							a {
								color: #033F96;
							}
						}
					}
					.contact-now {
						margin-top: 45px;
						text-align: center;
						a {
							color: #808080;
							padding: 18px 40px;
							border: 1px solid #eacda3;
							font-family: "Open Sans", sans-serif;
							font-weight: 100;
							letter-spacing: 1px;
							-webkit-transition: background 300ms linear, color 300ms linear;
							-moz-transition: background 300ms linear, color 300ms linear;
							-o-transition: background 300ms linear, color 300ms linear;
							-ms-transition: background 300ms linear, color 300ms linear;
							transition: background 300ms linear, color 300ms linear;
							&:hover {
								text-decoration: none;
								background: #eacda3;
								color: #FFF;
							}
						}
					}
					.copyright-mobile {
						margin-top: 45px;
						font-family: "Open Sans", sans-serif;
						font-weight: 100;
						@media only screen and (min-width: 1200px) {
							display: none;
						}
						.developer {
							margin: 5px;
							color: #033F96;
						}
					}
				}
			}
		}
	}
	.intro {
		background-image: url("img/dekoras.jpg");
		min-height: 630px;
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		padding-top: 110px;
		@media only screen and (max-width: 767px) {
			min-height: 360px;
		}
		.intro-block {
			padding-bottom: 45px;
			margin-top: 45px;
			opacity: 0.95;
			background: #eacda3;
			background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);
			background: linear-gradient(to right, #d6ae7b, #eacda3);
			@media only screen and (max-width: 767px) {
				margin-top: 0;
			}
			h1 {
				padding-top: 45px;
				font-family: 'Sorts Mill Goudy', serif;
				color: #FDFDFD;
				text-align: center;
				font-size: 33px;
				@media only screen and (max-width: 767px) {
					font-size: 26px;
				}
				@media only screen and (max-width: 767px) {
					font-size: 24px;
				}
			}
			p {
				padding-top: 24px;
				text-align: center;
				color: #FDFDFD;
				font-size: 23px;
				font-family: 'Raleway', sans-serif;
				@media only screen and (max-width: 767px) {
					font-size: 24px;
				}
			}
			.ivaizdis-start {
				text-align: center;
				padding-top: 36px;
				a {
					font-size: 18px;
					text-align: center;
					color: #FDFDFD;
					font-family: 'Sorts Mill Goudy', serif;
					padding: 16px 27px 12px 27px;
					border: 1px solid #FDFDFD;
					-webkit-transition: background 300ms linear, color 300ms linear;
					-moz-transition: background 300ms linear, color 300ms linear;
					-o-transition: background 300ms linear, color 300ms linear;
					-ms-transition: background 300ms linear, color 300ms linear;
					transition: background 300ms linear, color 300ms linear;
					@media only screen and (max-width: 767px) {
						font-size: 27px;
					}
					&:hover {
						text-decoration: none;
						background-color: #FDFDFD;
						color: #d6ae7b;
						border: none;
					}
				}
			}
		}
	}
	.intro-kontaktai {
		background: url("img/vestuves.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		@media only screen and (max-width: 767px) {
			padding-bottom: 55%;
			background-position: center;
		}
	}
	.intro-galerija {
		background: url("img/musu-poros.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		display: table;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding: 0;
		.our-couples {
			display: table-cell;
			vertical-align: middle;
			h1,
			p {
				font-size: 129px;
				color: #fff;
				font-weight: 100;
				text-align: center;
			}
			h1 {
				@media only screen and (max-width: 767px) {
					font-size: 72px;
				}
			}
			p {
				font-size: 27px;
			}
		}
	}
	.photo-menu {
		margin-top: 70px;
		margin-bottom: 70px;
		.row {
			.filters {
				margin-top: 18px;
				padding-top: 27px;
				ul {
					padding: 36px 0 18px 0;
					background: #eacda3;
					background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);
					background: linear-gradient(to right, #d6ae7b, #eacda3);
					li {
						margin: 18px auto;
						width: 200px;
						text-align: center;
						div {
							@media only screen and (max-width: 575px) {
								width: 243px;
								.row {
									padding-left: 5px;
								}
							}
						}
						a,
						.submit-form {
							border: 1px solid #FDFDFD;
							display: block;
							padding: 9px;
							font-family: "Open Sans", sans-serif;
							font-weight: 100;
							text-decoration: none;
							color: #FDFDFD;
							-webkit-transition: background 300ms linear, color 300ms linear;
							-moz-transition: background 300ms linear, color 300ms linear;
							-o-transition: background 300ms linear, color 300ms linear;
							-ms-transition: background 300ms linear, color 300ms linear;
							transition: background 300ms linear, color 300ms linear;
							&:hover {
								background: #FDFDFD;
								color: #d6ae7b;
							}
						}
					}
					.submit-li {
						margin-top: 30px;
						input {
							background: transparent;
							color: #fdfdfd;
							-webkit-appearance: none;
							cursor: pointer;
							margin: 33px auto 0 auto;
							padding: 6px 12px;
						}
					}
					.filter {
						padding-left: 9px;
						width: auto;
						text-align: left;
						margin: 0 auto;
						@media only screen and (max-width: 1199px) {
							padding-left: 27px;
						}
						@media only screen and (max-width: 991px) {
							padding-left: 18px;
						}
						@media only screen and (max-width: 767px) {
							padding-left: 0;
						}
						.color-option {
							width: 36px;
							height: 36px;
							cursor: pointer;
							border-radius: 50%;
							margin: 10px 5px;
							text-align: center;
						}
						.color-checkbox {
							display: none;
						}
						.color-clicked {
							border: 2px dotted #fff;
							&:first-child {
								border: 2px dotted #000;
							}
						}
						.css-checkbox {
							position: absolute;
							z-index: -1000;
							left: -1000px;
							overflow: hidden;
							clip: rect(0 0 0 0);
							height: 1px;
							width: 1px;
							margin: -1px;
							padding: 0;
							border: 0;
						}
						.css-checkbox+label.css-label {
							padding-left: 23px;
							height: 18px;
							display: inline-block;
							line-height: 18px;
							background-repeat: no-repeat;
							background-position: 0 0;
							vertical-align: middle;
							cursor: pointer;
						}
						.css-checkbox:checked+label.css-label {
							background-position: 0 -18px;
						}
						label.css-label {
							background-image: url(https://csscheckbox.com/checkboxes/u/csscheckbox_001aa7bf6327f8fac80e0eb160776ef4.png);
							-webkit-touch-callout: none;
							-webkit-user-select: none;
							-khtml-user-select: none;
							-moz-user-select: none;
							-ms-user-select: none;
							user-select: none;
							font-family: 'Open Sans', sans-serif;
							font-weight: 100;
							color: #FDFDFD;
							position: relative;
							top: 2px;
						}
					}
					.colors-filter {
						@media only screen and (max-width: 767px) {
							width: 250px;
							padding-left: 10px;
						}
						@media only screen and (max-width: 575px) {
							padding-left: 5px;
						}
					}
				}
			}
			.higher {
				height: 800px;
			}
			.filtered-photos {
				h2 {
					text-align: center;
					color: #939598;
					font-family: 'Sorts Mill Goudy', serif;
				}
				.row {
					.photoblock {
						height: 200px;
						width: 200px;
						cursor: zoom-in;
						background: url('img/insta5.jpg');
						margin: 0 auto 36px auto;
						img {
							width: 200px;
							position: absolute;
						}
						&:hover {
							background-color: #000;
							.like-cart {
								visibility: visible;
							}
						}
						.like-cart {
							width: 27px;
							height: 27px;
							position: relative;
							top: 170px;
							visibility: hidden;
							background: url('img/hearty.png');
							background-size: contain;
							background-repeat: no-repeat;
							margin: 0 auto;
							opacity: 0.5;
							cursor: pointer;
						}
						.liked {
							opacity: 1;
							visibility: visible;
						}
					}
				}
			}
		}
	}
	.kontaktai-fluid {
		margin: 60px 0;
		.kontaktai-container {
			.kontaktai-block {
				color: #808080;
				font-family: "Open Sans", sans-serif;
				font-weight: 100;
				h1 {
					font-family: 'Sorts Mill Goudy', serif;
					text-align: center;
				}
				p {
					margin: 15px 0 18px 0;
				}
				a {
					color: #033F96;
				}
				.contact-links {
					.contact-email,
					.contact-number {
						margin-top: 3px;
						max-width: 180px;
						display: block;
					}
					.contact-number {
						margin-bottom: 18px;
					}
				}
			}
			.forma-block {
				.contact-form-div {
					font-family: "Open Sans", sans-serif;
					font-weight: 100;
					form {
						-webkit-font-smoothing: antialiased;
						input,
						textarea {
							border-radius: 3px;
							margin: 5 0 10px 0;
							min-height: 40px;
							font-size: 16px;
							color: #808080;
							letter-spacing: 1px;
							border: 1px solid lightgrey;
							background-color: #fdfdfd;
							resize: none;
							&:hover {
								border-style: solid;
								border: 1px solid #808080;
							}
							&:focus {}
							&::placeholder {
								color: #939598;
								font-family: "Open Sans", sans-serif;
								font-weight: 100;
							}
						}
						label {
							text-transform: uppercase;
							color: #808080;
							margin-top: 10px;
							font-size: 14px;
							font-family: 'Sorts Mill Goudy', serif;
							margin-bottom: 0;
						}
						.message-input {
							height: 130px;
							padding-top: 10px;
							text-align: justify;
							@media only screen and (max-width: 767px) {
								line-height: 18px;
								height: 200px;
							}
							&:focus {}
						}
						button {
							border: 1px solid #eacda3;
							text-transform: uppercase;
							padding: 5px 45px 1px 45px;
							font-size: 14px;
							font-family: 'Sorts Mill Goudy', serif;
							border-radius: 3px;
							margin-bottom: 20px;
							display: block;
							margin: 0 auto;
							margin-top: 10px;
							color: #939598;
							background-color: #fefefe;
							letter-spacing: 1px;
							-webkit-transition: background 300ms linear, color 300ms linear;
							-moz-transition: background 300ms linear, color 300ms linear;
							-o-transition: background 300ms linear, color 300ms linear;
							-ms-transition: background 300ms linear, color 300ms linear;
							transition: background 300ms linear, color 300ms linear;
							&:hover {
								text-decoration: none;
								background: #eacda3;
								color: #FDFDFD;
							}
						}
					}
				}
			}
		}
		.liked-container {
			margin-top: 63px;
			h2 {
				color: #808080;
				text-align: center;
				font-family: 'Sorts Mill Goudy', serif;
				margin-bottom: 18px;
				i {
					color: #eacda3;
				}
			}
			.row {
				@media only screen and (max-width: 767px) {
					margin: 0 auto;
					.photoblock {
						margin: 5px auto;
					}
				}
			}
		}
	}
	.galerija-fluid {
		padding-top: 70px;
		.galerija-container {
			.galerija-photos {
				h2 {
					text-align: center;
					color: #939598;
					font-family: 'Sorts Mill Goudy', serif;
				}
				.row {
					.couple-block {
						height: 200px;
						width: 200px;
						cursor: zoom-in;
						margin: 0 auto 36px auto;
						display: table;
						img {
							width: 200px;
							position: absolute;
						}
						.couple-name {
							display: table-cell;
							vertical-align: middle;
							p {
								position: relative;
								z-index: 99;
								font-family: 'Sorts Mill Goudy', serif;
								font-weight: 100;
								text-align: center;
								font-size: 18px;
								color: #FFF;
								// text-transform: uppercase;
								padding: 0 5px;
								visibility: hidden;
								span {
									font-family: "Open Sans", sans-serif;
									display: block;
									font-size: 15px;
								}
							}
						}
						&:hover {
							background-color: #000;
							img {
								opacity: 0.36;
							}
							p {
								visibility: visible;
							}
						}
					}
				}
			}
		}
	}
	.intro-vizija {
		background: url("img/karolina.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		background-position: center;
		display: table;
		width: 100%;
		max-width: 1400px;
		margin: 0 auto;
		text-align: center;
		padding: 0;
		h1,
		p {
			color: #fff;
			font-weight: 100;
			text-align: center;
		}
		h1 {
			font-size: 129px;
			vertical-align: middle;
			display: table-cell;
			@media only screen and (max-width: 767px) {
				font-size: 99px;
				line-height: 99px;
			}
		}
		p {
			font-size: 27px;
		}
	}
	.vizija-container {
		margin-bottom: 63px;
		h2 {
			font-family: 'Sorts Mill Goudy', serif;
			text-align: center;
			margin-bottom: 36px;
			color: #808080;
		}
		p {
			text-align: justify;
			padding: 0 10px;
			color: #707070;
			.name-span {
				font-weight: 600;
			}
		}
		.musu-istorija,
		.musu-misija {
			@media only screen and (max-width: 767px) {
				padding: 0;
			}
		}
		.karolina-letter {
			display: block;
			text-align: right;
			font-weight: bold;
			font-size: 21px;
			font-family: 'Sorts Mill Goudy', serif;
			margin-top: 18px;
		}
		.vizija-text {
			margin-top: 63px;
		}
	}
	.intro-paslaugos {
		background: url('img/vestuviu-paslaugos.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		background-position: center;
		@media only screen and (max-width: 767px) {
			min-height: 360px;

		}
		h1 {
			font-size: 129px;
			margin-top: 10vh;
			color: #fff;
			text-align: center;
			font-weight: 100;
			@media only screen and (max-width: 767px) {
				font-size: 99px;
				line-height: 99px;
			}
		}
	}
	.paslaugos-fluid {
		padding-bottom: 63px;
		@media only screen and (max-width: 767px) {
			padding-bottom: 18px;
		}
		.paslaugos-container {
			h2 {
				text-align: center;
				font-family: 'Sorts Mill Goudy', serif;
				margin: 54px 0;
				color: #808080;
				@media only screen and (max-width: 767px) {
					font-size: 27px;
				}
			}
			p {
				color: #707070;
				padding: 0;
			}
			a {
				font-weight: 600;
			}
			.paslaugos-info {
				margin-bottom: 18px;
				span {
					font-weight: 500;
				}
			}
		}
	}
	.intro-komanda {
		padding-top: 0;
		background: url('img/vestuviu-organizatores.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		padding-bottom: 55.64%;
		min-height: 0;
		width: 100%;
	}
	.komanda-fluid {
		.komanda-container {
			.row {
				h2 {
					text-align: center;
					font-family: 'Sorts Mill Goudy', serif;
					margin: 30px 0 54px;
					color: #808080;
				}
				.apie-komanda {
					margin-bottom: 36px;
					.row {
						p {
							line-height: 32px;
						}
						img {
							max-height: 670px;
							max-width: 100%;
						}
					}
					.komanda-info {
						margin-top: 36px;
					}
				}
			}
			.komanda-photo {
				margin: 30px auto;
				text-align: center;
				padding-bottom: 72px;
				img {
					max-height: 400px;
					margin-top: 4px;
					max-width: 100%;
				}
			}
		}
	}
}