body {
	background: #FDFDFD !important;
	.nav-fluid {
		background: #FDFDFD;
		.logo-div {
			text-align: center;
			margin: 20px 0 10px 0;
			img {
				height: 90px;
			}
		}
		.cart {
			position: absolute;
			top: 10px;
			right: 117px;
			font-family: 'Sorts Mill Goudy', serif;
			font-weight: 100;
			@media only screen and (max-width: 1199px) {
				right: 18px
			}
			@media only screen and (max-width: 767px) {
				top: 120px;
				z-index: 99;
			}
			a {
				color: #939598;
				font-size: 18px;
				-webkit-transition: color 300ms linear;
			    -moz-transition: color 300ms linear;
			    -o-transition: color 300ms linear;
			    -ms-transition: color 300ms linear;
			    transition: color 300ms linear;
			    -webkit-font-smoothing: antialiased;
				&:hover {
					color: #bcbec0;
					text-decoration: none;
				}
				i {
					color: #eacda3;
color: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);
color: linear-gradient(to right, #d6ae7b, #eacda3);
				}
			}
		}
	}
	.navbar {
		background: #FDFDFD;
		padding-bottom: 12px;
		@media only screen and (max-width: 767px) {
			display: block;
		}
		button {
			background-color: #BEBDBD;
		}
		.navbar-collapse {
			.navbar-nav {
				margin: 0 auto;
				li {
					a {
						padding: 12px 18px;
						font-size: 14px;
						color: #939598;
						font-family: 'Sorts Mill Goudy', serif;
						text-decoration: none;
						-webkit-font-smoothing: antialiased;
						text-transform: uppercase;
						letter-spacing: 1.5px;
						word-spacing: 3px;
						-webkit-transition: color 300ms linear;
					    -moz-transition: color 300ms linear;
					    -o-transition: color 300ms linear;
					    -ms-transition: color 300ms linear;
					    transition: color 300ms linear;
						&:hover {
							color: #bcbec0;
							text-decoration: none;
						}
						@media only screen and (max-width: 767px) {
							display: block;
							text-align: center;
							padding-top: 27px;
						}
					}
					.dropdown-menu {
						margin-top: 11px;
						margin-left: -42px;
						@media only screen and (max-width: 767px) {
							margin: 11px auto 0 auto;
						}
						li {
							text-align: center;
						}
					}
				}
			}
		}
	}
	.mobile-intro {
		background-image: url('img/vestuviu-stalas.jpg');
		min-height: 540px;
	    background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
		margin: 7px auto 0 auto;
		width: 100%;
		@media only screen and (min-width: 767px) {
			display: none;
		}
	}
	.carousel {
		@media only screen and (max-width: 767px) {
			display: none;
		}
		.carousel-inner {
			.carousel-item {
				img {
					height: 600px;
					width: 1200px;
					margin: 0 auto;
				}
			}
		}
	}
	.ivaizdis-fluid {
		background-image: #FDFDFD;
		padding: 100px 0;
		@media only screen and (max-width: 991px) {
			padding: 50px 0;
		}
		@media only screen and (max-width: 575px) {
			padding: 0;
		}
		.ivaizdis-container {
			.palme-box {
				height: 600px;
				background: #eacda3;
background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);
background: linear-gradient(to right, #d6ae7b, #eacda3);
				@media only screen and (max-width: 991px) {
					margin-bottom: 50px;
				}
				@media only screen and (max-width: 575px) {
					margin-bottom: 0;
				}
				h2 {
					color: #fefefe;
					font-size: 36px;
					font-family: 'Open Sans', sans-serif;
					font-family: 'Sorts Mill Goudy', serif;
					font-weight: 100;
					text-align: center;
					padding-top: 80px;
				}
				.palm-leaf-block {
					text-align: center;
					margin-top: 70px;
					img {
						width: 180px;
					}
				}
				.more-block {
					text-align: center;
					margin-top: 70px;
					.palm-more {
						color: #FDFDFD;
						font-family: "Open Sans", sans-serif;
						font-weight: 100;
						font-size: 21px;
						padding: 12px 80px;
						border: 1px solid #FDFDFD;
						text-align: center;
						margin: 0 auto;
						-webkit-transition: background 300ms linear, color 300ms linear;
						-moz-transition: background 300ms linear, color 300ms linear;
						-o-transition: background 300ms linear, color 300ms linear;
						-ms-transition: background 300ms linear, color 300ms linear;
						transition: background 300ms linear, color 300ms linear;
						&:hover {
							text-decoration: none;
							background: #FDFDFD;
							color: #d6ae7b;
						}
					}
				}
			}
			.ivaizdis-sideblock {
				height: 600px;
				background-image: url('img/vestuvinis-stalas.jpg');
				img {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
	.parallax-block {
	    background-image: url("img/poros-bucinys.jpg");
	    min-height: 777px;
	    background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    margin-bottom: 90px;
	    @media only screen and (max-width: 575px) {
			margin-bottom: 0;
		}
    	.poros-block {
    		height: 600px;
    		margin-top: 90px;
    		background: #eacda3;
background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);
background: linear-gradient(to right, #d6ae7b, #eacda3);
			opacity: 0.9;
			@media only screen and (max-width: 575px) {
					margin-top: 180px;
				}
    		h2, h3 {
				color: #FDFDFD;
				font-size: 36px;
				font-family: 'Open Sans', sans-serif;
				font-family: 'Sorts Mill Goudy', serif;
				font-weight: 100;
				text-align: center;
				padding-top: 80px;
			}
			h3 {
				padding-top: 0;
				font-family: 'Open Sans', sans-serif;
				font-size: 27px;
			}
			.rings-block {
				text-align: center;
				margin-top: 50px;
				img {
					width: 180px;
				}
			}
			.more-block {
				text-align: center;
				margin-top: 60px;
				.poros-more {
					color: #FDFDFD;
					font-family: "Open Sans", sans-serif;
					font-weight: 100;
					font-size: 21px;
					padding: 12px 80px;
					border: 1px solid #FDFDFD;
					text-align: center;
					margin: 0 auto;
					-webkit-transition: background 300ms linear, color 300ms linear;
					-moz-transition: background 300ms linear, color 300ms linear;
					-o-transition: background 300ms linear, color 300ms linear;
					-ms-transition: background 300ms linear, color 300ms linear;
					transition: background 300ms linear, color 300ms linear;
					&:hover {
						text-decoration: none;
						background: #FDFDFD;
						color: #d6ae7b;
					}
				}
			}
    	}
	}
	.footer-fluid {
		padding-bottom: 0;
		@media only screen and (max-width: 767px) {
			padding-bottom: 50px;
		}
		@media only screen and (max-width: 575px) {
			margin-top: 30px;
			padding-bottom: 0;
		}
		.footer-container {
			.row {
				@media only screen and (max-width: 1199px) {
					width: 100%;
					text-align: center;
					margin: 0 auto;
				}
				.footer-left {
					background-color: #FDFDFD;
					padding-top: 10px;
					border-right: 1px solid #808080;
					@media only screen and (max-width: 1199px) {
						border: none;
						margin-bottom: 30px;
					}
					@media only screen and (max-width: 767px) {
						margin-bottom: 0;
					}
					.line {
						margin: 0 15px;
						border-top: 1px solid #808080;
						width: 210px;
						position: relative;
						top: 15px;
						height: 0px;
						@media only screen and (max-width: 1199px) {
    						text-align: center;
    						margin: 0 auto;
						}
						@media only screen and (max-width: 767px) {
    						display: none;
						}
					}
					h4 {
						letter-spacing: 2px;
						color: #808080;
						font-family: "Open Sans", sans-serif;
						font-family: 'Sorts Mill Goudy', serif;
						font-weight: 100;
						padding-bottom: 10px;
						@media only screen and (max-width: 1199px) {
    						text-align: center;
    						margin: 0 auto;
						}
					}
					.social-icons {
						margin-left: 9px;
						@media only screen and (max-width: 1199px) {
							width: 100%;
    						margin: 20px 0 45px 0;
    						text-align: center;
						}
						@media only screen and (max-width: 767px) {
							margin-bottom: 10px;
						}
						a {
							img {
								width: 30px;
							}
							&:hover {
								text-decoration: none;
							}
						}
					}
					.footer-photos {
						margin: 0 auto;
						// max-width: 680px;
						@media only screen and (max-width: 767px) {
							display: none;
						}
						.photo {
							margin: 5px auto;
							img {
								width: 120px;
							}
						}
					}
					.copyright {
						margin-top: 18px;
						@media only screen and (max-width: 1199px) {
							display: none;
						}
						p {
							font-family: "Open Sans", sans-serif;
							font-weight: 100;
							color: #808080;
							span {
								margin-left: 54px;
								font-family: "Open Sans", sans-serif;
								font-weight: 100;
								@media only screen and (max-width: 767px) {
									display: block;
									margin-left: 0;
								}
								a {
									margin: 5px;
								}
							}	
						}
					}
				}
				.footer-right {
					background-color: #FDFDFD;
					h4 {
						text-align: center;
						color: #808080;
						position: relative;
						top: 15px;
						font-family: 'Open Sans', sans-serif;
						font-family: 'Sorts Mill Goudy', serif;
						font-weight: 100;
						letter-spacing: 2px;
					}
					.contacts {
						margin-top: 30px;
						margin-left: 67px;
						@media only screen and (max-width: 991px) {
							margin-left: 0;
						}
						.contact {
							text-align: left;
							margin-top: 15px;
							font-family: "Open Sans", sans-serif;
							font-weight: 100;
							@media only screen and (max-width: 991px) {
								text-align: center;
							}
							span {
								color: #808080;
								margin-right: 10px;
							}
						}
					}
					.contact-now {
						margin-top: 45px;
						text-align: center;
						a {
							color: #808080;
							padding: 18px 40px;
							border: 1px solid #eacda3;
							font-family: "Open Sans", sans-serif;
							font-weight: 100;
							letter-spacing: 1px;
							-webkit-transition: background 300ms linear, color 300ms linear;
							-moz-transition: background 300ms linear, color 300ms linear;
							-o-transition: background 300ms linear, color 300ms linear;
							-ms-transition: background 300ms linear, color 300ms linear;
							transition: background 300ms linear, color 300ms linear;
							&:hover {
								text-decoration: none;
								background: #eacda3;
								color: #FDFDFD;
							}
						}
					}
					.copyright {
						margin-top: 45px;
						font-family: "Open Sans", sans-serif;
						font-weight: 100;
						@media only screen and (min-width: 1200px) {
							display: none;
						}
					}
				}
			}
		}
	}
	.intro-ivaizdis {
		background-image: url("img/dekoras.jpg");
	    min-height: 630px;
	    background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    padding-top: 110px;
	    .intro-block {
			padding-bottom: 45px;
			margin-top: 45px;
	    	opacity: 0.95;
	    	background: #eacda3;
background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);
background: linear-gradient(to right, #d6ae7b, #eacda3);
			@media only screen and (max-width: 767px) {

			}
			h1 {
				padding-top: 45px;
				font-family: 'Sorts Mill Goudy', serif;
				color: #FDFDFD;
				text-align: center;
				font-size: 33px;
				@media only screen and (max-width: 767px) {
					font-size: 26px;
				}
				@media only screen and (max-width: 767px) {
					font-size: 24px;
				}
			}
			p {
				padding-top: 24px;
				text-align: center;
				color: #FDFDFD;
				font-size: 23px;
				font-family: 'Raleway', sans-serif;
				@media only screen and (max-width: 767px) {
					font-size: 24px;
				}
			}
			.ivaizdis-start {
				text-align: center;
				padding-top: 36px;
				a {
					font-size: 18px;
					text-align: center;
					color: #FDFDFD;
					font-family: 'Sorts Mill Goudy', serif;
					padding: 16px 27px 12px 27px;
					border: 1px solid #FDFDFD;
					-webkit-transition: background 300ms linear, color 300ms linear;
					-moz-transition: background 300ms linear, color 300ms linear;
					-o-transition: background 300ms linear, color 300ms linear;
					-ms-transition: background 300ms linear, color 300ms linear;
					transition: background 300ms linear, color 300ms linear;
					@media only screen and (max-width: 767px) {
						font-size: 27px;
					}
					&:hover {
						text-decoration: none;
						background-color: #FDFDFD;
						color: #d6ae7b;
						border: none;
					}
				}
			}
	    }
	}
	.photo-menu {
		margin-top: 70px;
		margin-bottom: 70px;
		.row {

			.filters {
				margin-top: 18px;
				padding-top: 27px;
				ul {
					padding: 36px 0 18px 0;
					background: #eacda3;
background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);
background: linear-gradient(to right, #d6ae7b, #eacda3);
					li {
						margin: 18px auto;
						width: 200px;
						text-align: center;
						div {
							@media only screen and (max-width: 575px) {
								width: 243px;
								.row {
									padding-left: 5px;
								}
							}
						}
						a, .submit-form {
							border: 1px solid #FDFDFD;
							display: block;
							padding: 9px;
							font-family: "Open Sans", sans-serif;
							font-weight: 100;
							text-decoration: none;
							color: #FDFDFD;
							-webkit-transition: background 300ms linear, color 300ms linear;
							-moz-transition: background 300ms linear, color 300ms linear;
							-o-transition: background 300ms linear, color 300ms linear;
							-ms-transition: background 300ms linear, color 300ms linear;
							transition: background 300ms linear, color 300ms linear;
							&:hover {
								background: #FDFDFD;
								color: #d6ae7b;
							}
						}
					}
					.submit-li {
						margin-top: 30px;
						input {
							background: transparent;
							color: #fdfdfd;
							-webkit-appearance: none;
							cursor: pointer;
							margin: 33px auto 0 auto;
							padding: 6px 12px;
						}
					}
					.filter {
						padding-left: 9px;
						// display: none;
						width: auto;
						text-align: left;
						margin: 0 auto;
						@media only screen and (max-width: 1199px) {
							padding-left: 27px;
						}
						@media only screen and (max-width: 991px) {
							padding-left: 18px;
						}
						@media only screen and (max-width: 767px) {
							padding-left: 0;
						}
						.color-option {
							width: 36px;
							height: 36px;
							cursor: pointer;
							border-radius: 50%;
							margin: 10px 5px;
							text-align: center;
						}
						.color-checkbox {
							display: none;
						}
						.color-clicked {
							border: 2px dotted #fff;
							&:first-child {
								border: 2px dotted #000;
							}
						}
						.css-checkbox {
			            	position: absolute;
			            	z-index: -1000;
			            	left: -1000px;
			            	overflow: hidden;
			            	clip: rect(0 0 0 0);
			            	height: 1px;
			            	width: 1px;
			            	margin: -1px;
			            	padding: 0;
			            	border: 0;
			            }
			            .css-checkbox + label.css-label {
							padding-left: 23px;
							height: 18px; 
							display: inline-block;
							line-height: 18px;
							background-repeat: no-repeat;
							background-position: 0 0;
							vertical-align: middle;
							cursor: pointer;
						}
						.css-checkbox:checked + label.css-label {
							background-position: 0 -18px;
						}
						label.css-label {
							background-image:url(https://csscheckbox.com/checkboxes/u/csscheckbox_001aa7bf6327f8fac80e0eb160776ef4.png);
							-webkit-touch-callout: none;
							-webkit-user-select: none;
							-khtml-user-select: none;
							-moz-user-select: none;
							-ms-user-select: none;
							user-select: none;
							font-family: 'Open Sans', sans-serif;
							font-weight: 100;
							color: #FDFDFD;
							position: relative;
							top: 2px;
						}
					}
					.colors-filter {
						@media only screen and (max-width: 767px) {
							width: 250px;
    						padding-left: 10px;
						}
						@media only screen and (max-width: 575px) {
    						padding-left: 5px;
						}
					}
				}
			}
			.higher {
				height: 800px;
			}
			.filtered-photos {
				h2 {
					text-align: center;
					color: #939598;
					font-family: 'Sorts Mill Goudy', serif;
				}
				.row {
					.photoblock {
						height: 200px;
						width: 200px;
						cursor: zoom-in;
						background: url('img/insta5.jpg');
						margin: 0 auto 36px auto;
						img {
							width: 200px;
							position: absolute;
						}
						&:hover {
							background-color: #000;
						}
						.like-cart {
							width: 27px;
							height: 27px;
							position: relative;
							top: 170px;
							display: none;
							background: url('img/hearty.png');
							background-size: contain;
							background-repeat: no-repeat;
							margin: 0 auto;
							opacity: 0.5;
							cursor: pointer;
						}
						.liked {
							opacity: 1;
							display: block;
						}
					}
				}
			}
		}
	}
}